h1 {
  color: #800000;
  font-family: Century Gothic, sans-serif;
  
}
body {
  background: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
  font-family: Century Gothic, sans-serif;
}

.chatbar {
  background: #800000;
  border-top: 1px solid black;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
  font-family: Century Gothic, sans-serif;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid black;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
  font-family: Century Gothic, sans-serif;
}

.chatbar-message {
  flex: 8;
  font-family: Century Gothic, sans-serif;
}

.chatbar-username {
  flex: 2;
  font-family: Century Gothic, sans-serif;
}

.message {
  display: flex;
  padding: 5px;
  font-family: Century Gothic, sans-serif;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
  font-family: Century Gothic, sans-serif;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
  font-family: Century Gothic, sans-serif;
}

.message-content {
  flex: 8;
  font-family: Century Gothic, sans-serif;
}

.message-username {
  flex: 2;
  font-weight: 700;
  font-family: Century Gothic, sans-serif;
}

.navbar {
  background: #800000;
  border-bottom: 1px solid black;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
  font-family: Century Gothic, sans-serif;
}

.navbar-brand {
  color: white;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
  font-family: Century Gothic, sans-serif;
}

.chatbar-button{
display: none
}